<template>
    <div>
        <div class="row my-2">

            <div class="col-12 my-2">
                <h5 v-if="!canDoModifyPoints()" class="alert alert-danger">{{ labels.can_not_modify_points }}</h5>
                <h5 v-else-if="!isRequiredQrcodeInPoints()" class="alert alert-info">{{ labels.qr_codes_is_not_rquired }}</h5>
                <h5 v-else-if="!isAllPointsHasQrcode()" class="alert alert-danger">{{ labels.qr_codes_is_rquired }}</h5>
            </div>

        <div class="col-12 my-2" v-if="point">

            <div class="card">
                    <div class="card-header">
                        {{ point.id ? 'Edytuj liczbę punktów' : 'Dodaj liczbę punktów' }}
                        <a class="float-right" href="" @click.prevent="clearFormData()"><i class="fa fa-times"></i></a>
                    </div>
                    <div class="card-body">
                        <form accept-charset="UTF-8">


                            <div class="form-group" v-if="errors.length">
                                <ul>
                                    <li v-for="error in errors">{{ error }}</li>
                                </ul>
                            </div>
                            <div class="row">
                                <div class="col-1"></div>
                                <div class="col-9">
                                    <div class="input-group mb-3 my-2">
                                        <input class="form-control" placeholder="Punkty" v-model="point.points" required="required" step="any" min="0"
                                                name="points" type="number" id="points">
                                        <div class="input-group-append">
                                            <button class="btn btn-store" type="submit" @click.prevent="save()">Zapisz</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 my-2">
                <div class="card">
                    <div class="card-header">
                        Dostępne punkty
                        <button v-if="canAdd()" class="btn btn-create float-right" type="button" @click="createPoint()">Dodaj</button>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive" v-if="points.length">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th style="width: 40px;">Lp.</th>
                                    <th class="text-center">Punkty</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item,index in points" v-bind:key="item.id">
                                    <td>{{ index+1 }}</td>
                                    <td class="text-center">{{ item.points }}</td>
                                    <td><i v-if="item.code_id" class="fas fa-qrcode"></i></td>
                                    <td v-if="canDoModifyPoints()" class="text-right btn-col-4">
                                        <div class="btn-col-4">
                                        <points-qr-modal-button v-if="assignQrCode"
                                            v-on:modal-btn-click="showModal"
                                            v-bind:point="item"
                                        >
                                        </points-qr-modal-button>
                                        <!--<button @click="editPoint(index)" class="btn btn-edit"><i class="fas fa-pencil-alt"></i></button>-->
                                        <!--<button @click="deletePoint(index)" class="btn btn-delete">Usuń</button>-->
                                        <a data-delete v-tooltip:bottom="'Usuń'" v-bind:href="getUrlDeleteWithPointId(item.id)" class="btn btn-delete"><i class="fas fa-trash-alt"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="alert alert-danger" v-if="!points.length">Brak dostępnych punktów do zdobycia.</div>
                    </div>
                </div>
            </div>

        </div>
        <points-qr-select-modal
            :event="event"
        >
        </points-qr-select-modal>
    </div>

</template>

<script>
    import PointsQrModalButton from "./PointsQrModalButton";

    export default {
        components: {PointsQrModalButton},
        name: "points-list",
        props: [
            'checkpoint',
            'max-points-count',
            'assign-qr-code',
            'url-delete',
            'can-modify-points',
            'is-required-qrcode',
            'labels',
            'event'
        ],
        data() {
            return {
                points: [],
                point: null,
                errors: [],
            }
        },
        mounted() {
            this.fetchPoints();
        },
        methods: {
            fetchPoints() {
                let vm = this;
                axios.get('/checkpoints/points/' + this.checkpoint)
                    .then(function (response) {
                        vm.points = response.data.data;
                    })
                    .catch(function (error) {
                    });
            },
            setErrors(errors){
                this.errors = errors;
            },
            setPoint(point) {
                this.point = point;
            },
            canAdd(){
              return (!this.maxPointsCount || this.points.length < this.maxPointsCount) && this.canDoModifyPoints();
            },
            editPoint(index) {
                this.setErrors([]);
                this.setPoint(Object.assign({}, this.points[index]));
            },
            createPoint() {
                this.setErrors([]);
                this.setPoint({
                    id: null,
                    checkpoint_id: null,
                    points: null
                });
            },
            clearFormData(){
              this.setPoint(null);
              this.setErrors([]);
            },
            save(){
                if(!this.point)
                    return;

                !!this.point.id
                    ? this.updatePoint()
                    : this.storePoint();
            },
            storePoint(){
                if(!this.canAdd())
                    return;

                this.point.checkpoint_id = this.checkpoint;
                let vm = this;
                axios.post('/checkpoints/points', this.point).then(function (response) {
                    vm.clearFormData();
                    vm.fetchPoints();
                }).catch(function (error) {
                    vm.errors = error.response.data.errors;
                });
            },
            updatePoint(){
                let vm = this;
                axios.put('/checkpoints/points/' + this.point.id, this.point).then(function (response) {
                    vm.clearFormData();
                    vm.fetchPoints();
                }).catch(function (error) {
                    vm.errors = error.response.data.errors;
                });
            },
            deletePoint(index){
                if(!confirm('Czy na pewno chcesz usunąć wybrany element ?'))
                    return;

                let vm = this;
                let point = this.points[index];
                axios.delete('/checkpoints/points/' + point.id)
                    .then(function(){
                        vm.points.splice(index, 1);
                    })
                    .catch(function(error){
                        console.log(error);
                    });
            },
            showModal(point) {
                this.$emit('openModal', point);
            },
            getUrlDeleteWithPointId(pointId){
                return this.urlDelete + '/' + pointId;
            },
            canDoModifyPoints(){
                return this.canModifyPoints == 1;
            },
            isRequiredQrcodeInPoints()
            {
                return this.isRequiredQrcode == 1;
            },
            isAllPointsHasQrcode()
            {
                let bool = true;

                if(!this.points.length)
                    return !bool;

                this.points.forEach(function (point) {
                    if(!point.code_id)
                        bool = false;
                });

                return bool;
            }

        },
    }
</script>

<style scoped>

</style>
