<template>
    <div class="inline-block">
        <button v-tooltip:bottom="'Lista QR'" class="btn btn-show" @click="$emit('modal-btn-click',point)">
            <span v-if="!point.code_id">
                Przypisz QR
            </span>
            <span v-else>
                Zmień QR
            </span>
        </button>
    </div>
</template>

<script>
    export default {
        name: "points-qr-modal-button",
        props: [
            'point'
        ],
        methods: {

        }
    }
</script>

<style scoped>

</style>
