<template>
    <div>
        <div class="modal select-modal" id="select-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Przypisz QR</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left" style="overflow-y: scroll; max-height: 600px;">
                        <qrcodes-list
                            v-on:qr-click="selectItem"
                            v-bind:active-id="selectedId"
                            :autoFetch="false"
                            :event="event"
                        >
                        </qrcodes-list>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-green" @click="sendAssignCodeRequest">Zatwierdź</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "points-qr-select-modal",
        props: [
            'event'
        ],
        data() {
          return {
              selectedId: null,
              point: {}
          }
        },
        mounted() {
            this.$parent.$on('openModal', (point) => this.openModal(point));
        },
        methods: {
            openModal(point)
            {
                this.point = point;
                this.selectedId = point.code_id;
                this.$emit('fetch-point-codes', this.point);
                $('#select-modal').modal('show');
            },
            closeModal()
            {
                this.refreshData();
                this.$emit('close-qr-select-modal');
                $('#select-modal').modal('hide');
            },
            refreshData(){
                this.selectedId = null;
            },
            selectItem(id){
                this.selectedId = id;
            },
            assignCodeToPoint(){
                this.point.code_id = this.selectedId;
            },
            sendAssignCodeRequest(){
                if(!this.selectedId)
                    return this.closeModal();
                let vm = this;
                let params = {
                    point_id: this.point.id,
                    code_id: this.selectedId
                };
                axios.post('/checkpoints/points/assign/code', params)
                    .then(function(response){
                        vm.assignCodeToPoint();

                        // setTimeout("this.closeModal()", 100);
                        // setTimeout("location.reload();", 400);
                        location.reload();
                    })
                    .catch(function(error){
                        alert('Wystąpił błąd. Wybierz inny kod.');
                        // vm.closeModal();
                    });

            }
        }
    }
</script>

<style scoped>
    .select-modal {
        z-index: 7000;
    }
    .modal-dialog {
        max-width: 800px !important;
    }
</style>
