<template>
    <div>
        <div id="map" class="map">

        </div>
    </div>
</template>

<script>
    import * as L from "leaflet";

    export default {
        name: "test-log-list-map",
        props: [
            'logs',
            'locations'
        ],
        data() {
            return {
                'map': null,
                'titleLayer': null,
                'layers': [
                    {'id': 4, 'name': 'Satelitarna', 'url': 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'},
                    {'id': 2, 'name': 'Topograficzna', 'url':'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png'},
                    {'id': 3, 'name': 'Drogowa', 'url':'https://maps.heigit.org/openmapsurfer/tiles/roads/webmercator/{z}/{x}/{y}.png'},
                    {'id': 1, 'name': 'Standardowa', 'url':'http://{s}.tile.osm.org/{z}/{x}/{y}.png'},
                ],
                'titleLayers': [],
                'controlLayers': [],
                'bounds': [],
                'activeLayer':{'id': 4, 'name': 'Satelitarna', 'url': 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'},
                'lMarkers': [],
                'hoveredLog': null
            }
        },
        mounted(){
            this.initMap();
            this.setLocationsBounds();
            console.log('aaaa',this.logs);
            this.fitBounds();
            console.log('aaaa',this.logs);
            this.generateLocationsPolyline();
            console.log('aaaa',this.logs);
            this.generateLocationsCheckpointMarkers();
            console.log('aaaa',this.logs);
            this.generateStartLocationMarker();
        },
        methods: {
            initMap() {
                this.generateTileLayers();
                this.generateControlLayers();

                this.map = L.map('map', {
                    center: [52.101029, 19.518184],
                    zoom: 6,
                    layers: this.titleLayers,
                });

                this.addControlLayers();
            },
            generateControlLayers()
            {
                let controlLayers = {};

                this.titleLayers.forEach((titleLayer) => {
                    controlLayers[titleLayer.options.name] = titleLayer;
                });

                this.controlLayers = controlLayers;
            },
            addControlLayers()
            {
                L.control.layers(this.controlLayers).addTo(this.map);
            },
            generateTileLayers()
            {
                let titleLayers = [];
                this.layers.forEach((layer) => {
                    titleLayers.push(L.tileLayer(layer.url, {id:layer.id,name:layer.name}));
                });
                this.titleLayers = titleLayers;
            },
            setLocationsBounds()
            {
                this.locations.forEach((location) => {
                        this.addBound(location.latitude, location.longitude);
                });
            },
            setLogCheckpointBounds()
            {
                this.logs.forEach((log) => {
                    if(log.checkpoint)
                        this.addBound(log.checkpoint.place.latitude, log.checkpoint.place.longitude);
                });
            },
            addBound(lat, lng)
            {
                this.bounds.push([lat,lng]);
            },
            fitBounds(){
                if(this.bounds && this.bounds.length)
                    this.map.fitBounds(this.bounds);
                else
                    this.map.setView(new L.LatLng(52.101029, 19.518184), 6);
            },
            resetLocationsMarkers()
            {
                $(".leaflet-marker-icon").remove();
                // $(".leaflet-shadow-pane").remove();
            },
            generateLocationsCheckpointMarkers()
            {
                this.resetLocationsMarkers();

                this.logs.forEach((log) => {
                        console.log(log, this.hoveredLog);
                        if(log.checkpoint)
                            if(log == this.hoveredLog)
                                this.lMarkers.push(L.marker([log.checkpoint.place.latitude, log.checkpoint.place.longitude], {icon: this.leafletIconLocationCheckpointMarker()}).bindPopup(log.checkpoint.name).addTo(this.map));
                            else
                                this.lMarkers.push(L.marker([log.checkpoint.place.latitude, log.checkpoint.place.longitude], {icon: this.leafletIconChoiceLocationCheckpointMarker()}).bindPopup(log.checkpoint.name).addTo(this.map));
                    });
                // this.generateLocationsMarkers();
            },
            generateLocationsMarkers()
            {
                this.locations.forEach((location) => {
                    this.lMarkers.push(L.marker([location.latitude, location.longitude], {icon: this.leafletIconLocationMarker()}).addTo(this.map));
                });
            },
            leafletIconLocationMarker()
            {
                return L.icon({
                    iconUrl: 'img/vendor/leaflet/dist/marker-blue-location-small.png',
                    // shadowUrl: 'img/vendor/leaflet/dist/marker-shadow.png',

                    iconSize: this.dynamicSize,
                    shadowSize: [50, 64],
                    iconAnchor: this.dynamicAnchor,
                    shadowAnchor: [4, 62],
                    popupAnchor: [-3, -76]
                });
            },
            leafletIconLocationCheckpointMarker()
            {
                return L.icon({
                    iconUrl: 'img/vendor/leaflet/dist/pin-red-small.png',
                    // shadowUrl: 'img/vendor/leaflet/dist/marker-shadow.png',

                    iconSize: this.dynamicSize,
                    shadowSize: [50, 64],
                    iconAnchor: this.dynamicAnchor,
                    shadowAnchor: [4, 62],
                    popupAnchor: [-3, -76]
                });
            },
            leafletIconChoiceLocationCheckpointMarker()
            {
                return L.icon({
                    iconUrl: 'img/vendor/leaflet/dist/pin-light-small.png',
                    // shadowUrl: 'img/vendor/leaflet/dist/marker-shadow.png',

                    iconSize: this.dynamicSize,
                    // shadowSize: [50, 64],
                    iconAnchor: this.dynamicAnchor,
                    // shadowAnchor: [4, 62],
                    // popupAnchor: [-3, -76]
                });
            },
            choiceLog(log)
            {
                this.hoveredLog = log;
                this.generateLocationsCheckpointMarkers();
                this.generateStartLocationMarker();
            },
            generateLocationsPolyline()
            {
                L.polyline(this.bounds).addTo(this.map);
            },
            generateStartLocationMarker()
            {
                this.lMarkers.push(L.marker([this.locations[0].latitude, this.locations[0].longitude], {icon: this.leafletIconStartLocationMarker()}).addTo(this.map));
            },
            leafletIconStartLocationMarker()
            {
                return L.icon({
                    iconUrl: 'img/vendor/leaflet/dist/marker-green-location-small.png',
                    // shadowUrl: 'img/vendor/leaflet/dist/marker-shadow.png',

                    iconSize: this.dynamicSize,
                    // shadowSize: [50, 64],
                    iconAnchor: this.dynamicAnchor,
                    // shadowAnchor: [4, 62],
                    // popupAnchor: [-3, -76]
                });
            }
        },
        computed: {
            dynamicSize() {
                return [this.iconSize, this.iconSize * 1.64];
            },
            dynamicAnchor() {
                return [this.iconSize / 2, this.iconSize * 1.64];
            }
        }
    }
</script>

<style>
    #map{
        width: 100%;
        height: 600px;
    }
</style>