<template>
    <div class="row">
        <div class="col-xl-6">
            <test-log-list-map
                :logs="logs"
                :locations="locations"
                ref="refTestLogListMap"
            >
            </test-log-list-map>
        </div>

        <div class="col-xl-6">
            <test-log-table
                :langLabels="langLabels"
                :logs="logs"
                v-on:choice-log="takeHoverLog"
            >
            </test-log-table>
        </div>
    </div>
</template>

<script>
    import TestLogListMap from "./TestLogListMapComponent";
    import TestLogTable from "./TestLogTableComponent";

    export default {
        name: "test-log-list",
        components: {TestLogListMap,TestLogTable},
        props: [
            'lang-labels',
            'logs',
            'locations',
            'check-log'
        ],
        data() {
            return {
                'labels': [],
                'log': null
            };
        },
        mounted() {
        },
        methods: {
            takeHoverLog(log)
            {
                this.$refs.refTestLogListMap.choiceLog(log);
            }
        }
    }
</script>