<template>
    <div class="card">
        <div class="card-header">
            {{ langLabels.logs_for_group }}
        </div>
        <div class="card-body">
            <div class="table-responsive-y">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th> # </th>
                    <th class="text-center"> {{ langLabels.created_at }} </th>
                    <th class="text-center"> {{ langLabels.travel_time_since_last }} </th>
                    <th class="text-center"> {{ langLabels.distance_since_last }} </th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="log in logs" @mouseover="$emit('choice-log',log)">
                    <td>{{log.id}}</td>
                    <td class="text-center">{{log.created_at.substr(10)}}</td>
                    <td class="text-center">{{log.diff_minutes_previous}} min</td>
                    <td class="text-center"><span v-if="typeof log.distance !== 'undefined'">{{log.distance}} metrów</span></td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "test-log-table",
        props: [
            'langLabels',
            'logs',
        ],
        data() {
            return {

            };
        },
        mounted() {

        },
        methods: {

        }
    }
</script>

<style>
    .table-responsive-y{
        display: block;
        max-height: 500px;
        overflow: auto;
        width: 100%;
    }
</style>