<template>
    <div>
        <div @click="setSortColumn()">
            <i v-bind:class="sortDirectionClass()"></i>
            {{ labelColumn }}
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sort',
        props: [
            'label-column',
            'name'
        ],
        data() {
            return {
            }
        },
        mounted(){
        },
        methods: {
            sortDirectionClass()
            {
                if(typeof this.$parent.getSort() == 'undefined' || this.$parent.getSort() == null || this.$parent.getSort().indexOf(this.name) < 0)
                    return ["fas fa-sort"];

                if(this.$parent.getSort().charAt(0) == '-')
                     return ["fas fa-sort-up"];

                return ["fas fa-sort-down"]
            },
            setSortColumn()
            {
                this.$parent.setSortColumn(this.name);
            },
        }
    }
</script>