<template>
    <div>
        <div class="form-group">
            <select v-bind:class="attr.class" v-bind:data-live-search="attr['data-live-search']" id="place_id" name="place_id" ref="select" v-model="selectedPlaceId" :title="emptyValue">
                <option v-for="place, index in places" v-bind:key="'select' + index" v-bind:value="place.id">
                    {{ place.description }}
                </option>
            </select>
            <div class="d-block py-2">
                <span class="d-block">
                    <button type="button" class="btn btn-primary btn-sm" @click="setMapVisibility(!mapVisible)">
                        {{ !mapVisible ? 'Pokaż mapę' : 'Ukryj mapę' }}
                    </button>
                </span>
            </div>
        </div>

        <div v-if="mapVisible">
            <hr>
            <div v-if="hasNewPlace()">
                <div class="input-group mb-3 my-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Dodaj miejsce</span>
                    </div>
                    <input type="text" v-model="newPlace.description" placeholder="Nazwa" class="form-control">
                    <div class="input-group-append">
                        <button v-if="newPlace" type="button" @click.prevent="storeNewPlace"
                                class="input-group-text bg-primary text-white">Zatwierdź
                        </button>
                    </div>
                </div>
            </div>
            <div style="height: 660px; width: 100%">
                <l-map style="height: 100%; width: 100%" :zoom="zoom" :center="center" :bounds="bounds"
                       @click="createNewPlaceLatLng">
                    <l-control-layers></l-control-layers>
                    <l-layer-group></l-layer-group>
                    <l-tile-layer  layerType="base" v-if="Object.keys(layers).length > 0" v-for="(layer, index) in layers" :key="index" :name="layer.name" :url="layer.url"></l-tile-layer>

                    <l-marker v-for="checkpoint, index in checkpointsInTrack" v-bind:key="'map' + index" :lat-lng="checkpoint"
                              :draggable="false">
                        <l-icon
                                :icon-size="dynamicSize"
                                :icon-anchor="dynamicAnchor"
                                icon-url="/img/vendor/leaflet/dist/pin-grey-small.png">
                        </l-icon>
                    </l-marker>
                    <l-marker v-for="place, index in places" v-bind:key="'map' + index" :lat-lng="place.latLng"
                              :draggable="false" @click="setSelectedPlaceId(place.id)">
                        <l-icon
                                :icon-size="dynamicSize"
                                :icon-anchor="dynamicAnchor"
                                v-if="isPlaceSelected(place)"
                                icon-url="/img/vendor/leaflet/dist/pin-red-small.png">
                        </l-icon>
                        <l-icon
                                :icon-size="dynamicSize"
                                :icon-anchor="dynamicAnchor"
                                v-if="!isPlaceSelected(place)"
                                icon-url="/img/vendor/leaflet/dist/pin-light-small.png">
                        </l-icon>
                        <l-popup v-if="isPlaceSelected(place)">{{ place.description}}</l-popup>
                    </l-marker>
                    <l-marker v-if="hasNewPlace()" :lat-lng="newPlace.latLng" :draggable="true"
                              @drag="createNewPlaceLatLng"
                              @click="resetNewPlace">
                        <l-icon
                                :icon-size="dynamicSize"
                                :icon-anchor="dynamicAnchor"
                                icon-url="/img/vendor/leaflet/dist/pin-light-small.png">
                        </l-icon>
                    </l-marker>
                </l-map>
            </div>
            <hr>

        </div>

    </div>
</template>

<script>
    import LLayerGroup from "vue2-leaflet/src/components/LLayerGroup";
    import LControlLayers from  "vue2-leaflet/src/components/LControlLayers";

    export default {
        name: "place-select",
        components: {LLayerGroup,LControlLayers},
        props: [
            'selected-id',
            'empty-value',
            'default-center',
            'trackId',
            'attr',
            'checkpoints-in-track'
        ],
        data: function () {
            return {
                url: 'http://{s}.tile.osm.org/{z}/{x}/{y}.png',
                zoom: 7,
                center: [52.101029, 19.518184],
                bounds: [],
                places: [],
                iconSize: 25,
                selectedPlaceId: null,
                newPlace: null,
                mapVisible: false,
                layers: {
                    'satelite': {'id': 4, 'name': 'Satelitarna', 'url':'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}'},
                    'topographic': {'id': 2, 'name': 'Topograficzna', 'url':'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png'},
                    'street': {'id': 3, 'name': 'Drogowa', 'url':'https://maps.heigit.org/openmapsurfer/tiles/roads/webmercator/{z}/{x}/{y}.png'},
                    'standard': {'id': 1, 'name': 'Standardowa', 'url':'http://{s}.tile.osm.org/{z}/{x}/{y}.png'},
                    // 'geoportal': {'id': 5, 'name': 'geoportal', 'url':'https://mapy.geoportal.gov.pl/wss/service/WMTS/guest/wmts/G2_MOBILE_500'},
                }
            }
        },
        mounted() {
            this.resetNewPlace();
            this.setSelectedPlaceId(this.selectedId);
            this.fetchPlaces();
            this.generateBounds();

            if (!this.selectedId && this.defaultCenter && !this.checkpointsInTrack.length) {
                this.setupDefaultCenter();
            }
        },
        watch: {
            selectedPlaceId: function () {
                this.resetNewPlace();
                this.refreshBounds();
            }
        },
        updated() {
            this.updateSelectpicker();
        },
        methods: {
            generateBounds(){
                this.checkpointsInTrack.forEach((checkpoint) => this.addBound(checkpoint));
            },
            fetchPlaces() {
                let url = '/v1/places?trackId=' + this.trackId;

                if (this.selectedPlaceId) {
                    url += '&selectedId=' + this.selectedPlaceId;
                }
                axios.get(url)
                    .then((response) => this.capturePlaceResponse(response))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            capturePlaceResponse(response) {

                this.clearPlaces();
                let responseData = response.data.data;
                responseData.forEach((responsePlace) => this.addCapturedPlace(responsePlace));

                if(!this.defaultCenter && !this.selectedPlaceId)
                    this.addPlacesToBounds(this.places);

                this.refreshBounds();
                this.setSelectedPlaceId(this.selectedPlaceId);
            },
            addCapturedPlace(responsePlace) {
                let place = this.createPlace(responsePlace.id, responsePlace.description, [responsePlace.latitude, responsePlace.longitude]);
                this.addPlaceToList(place);

            },
            addPlacesToBounds(places)
            {
                this.clearBounds();
                places.forEach((place) => this.addBound(place.latLng));
            },
            createPlace(id, description, latLng) {
                return {
                    id: id,
                    description: description,
                    latLng: latLng
                };
            },
            addPlaceToList(place) {
                this.places.push(place);
            },
            isPlaceSelected(place) {
                return this.selectedPlaceId == place.id;
            },
            setMapVisibility(state = false) {
                this.mapVisible = state;
                $('html').animate({scrollTop:480});
            },
            setSelectedPlaceId(id) {
                this.selectedPlaceId = id;
            },
            getPlaceById(id) {
                let index = this.places.findIndex(x => x.id === id);
                return this.places[index];
            },
            clearBounds() {
                this.bounds = [];
            },
            clearPlaces() {
                this.places = [];
            },
            addBound(latLng) {
                this.bounds.push(latLng);
            },
            refreshBounds() {
                if(this.selectedPlaceId)
                {
                    this.clearBounds();
                    this.places.forEach((place) => {
                        if(place.id == this.selectedPlaceId)
                            this.addBound(place.latLng);
                    });
                }

            },
            resetNewPlace() {
                this.newPlace = this.createNewPlaceLatLng();
            },
            createNewPlaceLatLng(event = null) {
                let id = this.newPlace ? this.newPlace.id : null;
                let description = this.newPlace ? this.newPlace.description : null;
                let latLng = event ? [event.latlng.lat.toPrecision(20), event.latlng.lng.toPrecision(20)] : null;
                this.newPlace = this.createPlace(id, description, latLng);
            },
            hasNewPlace() {
                return this.newPlace && !!this.newPlace.latLng;
            },
            performValidation(place) {
                let messageBag = [];
                if (!place.description) {
                    messageBag.push('Pole opis jest wymagane');
                }
                return messageBag;
            },
            validatePlace(place) {
                let messageBag = this.performValidation(place);

                if (messageBag.isEmpty()) {
                    return true;
                }

                alert(messageBag.join('\n'));
                return false;
            },
            storeNewPlace() {
                if (!this.validatePlace(this.newPlace)) {
                    return;
                }

                let requestData = {
                    description: this.newPlace.description,
                    latitude: this.newPlace.latLng[0],
                    longitude: this.newPlace.latLng[1]
                };

                axios.post('/v1/places', requestData)
                    .then((response) => this.captureNewPlaceResponse(response))
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            captureNewPlaceResponse(response) {
                let responseData = response.data.data;
                this.newPlace.id = responseData.id;
                this.addPlaceToList(this.newPlace);
                this.setSelectedPlaceId(this.newPlace.id);
                this.setMapVisibility(false);
            },
            setupDefaultCenter() {
                let defaultCenter = null;

                try {
                    defaultCenter = JSON.parse(this.defaultCenter);
                } catch (e) {
                    return false;
                }

                if (!defaultCenter || !defaultCenter.lat || !defaultCenter.lng)
                    return false;

                this.clearBounds();
                this.addBound([defaultCenter.lat, defaultCenter.lng]);

                return true;
            },
            updateSelectpicker(){
                $('#place_id').selectpicker('refresh');
            },
        },
        computed: {
            dynamicSize() {
                return [this.iconSize, this.iconSize * 1.64];
            },
            dynamicAnchor() {
                return [this.iconSize / 2, this.iconSize * 1.64];
            }
        }
    }
</script>

<style scoped>

</style>
